/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-neutral: #a9a9a9;
  --basic-extra-light: #f2f2f2;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;

  --special: #766357;
  }

  /* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  margin-bottom: 16px;
  margin-top: 40px;
}
p {
  text-align: center;
  margin: 0;
}
.paragraph {
  font-size: 14px;
  line-height: 26px;
}
.main-navigation {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  width: 138px;
  height: 70px;
}

.main-header {
  margin-bottom: 56px;
}
.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 20px 65px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  min-height: 70px;
}
ul {
  list-style: none;
}
.main-photo {
  background-image: url("img/background-photo.jpg");
}
  /* Opportunities */
.opportunities-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.opportunities-wrapper-text {
  text-align: center;
  padding: 50px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.opportunities-wrapper-text h3 {
  color: var(--basic-white);
}
.opportunities-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.opportunities-item {
  text-align: center;
}

.opportunities-item h4 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

  /* Features */
.features-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.features-wrapper-text {
  text-align: center;
  padding: 50px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.features-wrapper-text h3 {
  color: var(--basic-white);
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  background-color: #EEEEEE;
}

.features-item {
  text-align: center;
}

  /* Appointment */
.appointment-form {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 55px;
  justify-content: center;
}

.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width: 100%;
  height: 60px;
  margin-top: 55px;
}
.button:hover{
  background-color: #669EC0;
}
.button:focus{
  background-color: #5496BD;
}
.button:active {
  background-color: var(--basic-blue);
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}
.button-search {
  display: flex;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
  width: 570px;
  height: 85px;
}

.button-search:hover{
    background-color:#604E43;
}
.button-search:focus{
    background-color: #503E33;
}
.button-search:active {
    background-color: var(--special);
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
}
.appointment-info {
  margin: 0;
  margin-bottom: 25px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}
.appointment-item {
  margin-top: 0;
  margin-bottom: 30px;
  width: 458px;
}
.appointment-item input {
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
  padding-right: 200px;
  padding-bottom: 6px;
  padding-left: 13px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border: none;
}
.appointment-item input:hover{
  background-color:#EBEBEB;
}
.appointment-item input:focus{
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
}
.appointment-item input:active {
  background-color: var(--basic-extra-light);
}
  /* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 35px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}
.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-contacts a{
  margin: 0;
  width: 250px;
  color: var(--basic-black);
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-social {
  text-align: center;
  width: 150px;
  justify-self: center;

}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

  /* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover{
  background-color: #669EC0;
}
.social-button:focus {
  background-color: #5496BD;
}
.social-button:focus path {
  fill: var(--basic-white);
  opacity: 0.3;
}
.footer-copyright{
  margin: 0;
  justify-self: end;
  font-size: 14px;
  line-height: 26px;
}
.footer-copyright:hover path {
  fill: var(--basic-blue);
}
.footer-copyright:focus path {
  fill: #BDBBBC;
}
.number {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
  /* Catalog */
.wrapper-sorting {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
}
.wrapper-sorting h2 {
  margin: 0;
}
.wrapper-sorting fieldset {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  border: none;
}
.sorting-item,
.sorting-price {
  margin: 30px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item {
  display: grid;
  grid-template-columns: 135px 1fr 1fr;
  width: 1055px;
  min-height: 150px;
}
.catalog-item a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  list-style: none;
  text-decoration: none;
}
.catalog-item a:hover {
  color: var(--basic-blue)
}
.catalog-item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.catalog-item-image {
  width: 135px;
  height: 90px;
  margin-right: 25px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-left: 30px;
}
.price {
  margin-top: 7px;
  margin-bottom: 15px;
}
.evaluation {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.show {
  border: 2px solid var(--basic-white);
  text-transform: uppercase;
  color: var(--basic-white);
}
.show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.more {
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  border: none;
}
.more:hover {
  background-color:#669EC0;
}
.more:focus {
  background-color:#5496BD;
}
.booking {
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--special);
  text-transform: uppercase;
  border: none;
}
.booking:hover {
  background-color:#604E43;
}
.booking:focus {
  background-color:#503E33;
}
.rating {
  display: flex;
  justify-content: flex-end;
  max-width: 110px;
  height: 27px;
  text-align: center;
  background-color: var(--basic-extra-light);
  color: #666666;
}
.sorting {
  display: flex;
  margin-left: 45px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}
.sorting-list{
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}
.sorting-price {
  color: var(--basic-blue);
}
.sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
}

.page-catalog {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper-check {
  width: 100%;
  background-image: url("img/background2.jpg");
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 45px;
}
.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border-radius: 20%;
  border: 2px solid var(--basic-black);
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-color: rgb(0, 13, 128);
}

.wrapper-check fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter-item {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 317px;
  margin-top: 10px;
}
.range-controls {
  position: relative;
  height: 11px;
  padding-top: 9px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: var(--basic-black);
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-white);

}
.range-controls .bar {
  width: 250px;
  height: 2px;
  background: yellowgreen;
}
.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ABABAB;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 230px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-size: 14px;

}
.price-controls input {
  width: 160px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}
