/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-neutral: #a9a9a9;
  --basic-extra-light: #f2f2f2;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;

  --special: #766357;
  }

  /* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}
.paragraph {
  font-size: 14px;
  line-height: 26px;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

  /* Grid */

.page {
  height: 100%;
}
.main-navigation{
  display: grid;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header-logo{
justify-self: center;
}
.main-header {
  margin-bottom: 56px;
}
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 40px;
}

.wrapper {
  margin-bottom: 50px;
}
  /* Opportunities */
.opportunities-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.opportunities-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.opportunities-item {
  text-align: center;
}

.opportunities-item h4 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

  /* Features */
.features-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
}

.features-item {
  text-align: center;
}

  /* Appointment */

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}
.button:hover{
  background-color: #669EC0;
}
.button:focus{
  background-color: #5496BD;
}
.button:active {
  background-color: var(--basic-blue);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}
.button-search {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
}

.button-search:hover{
    background-color:#604E43;
}
.button-search:focus{
    background-color: #503E33;
}
.button-search:active {
    background-color: var(--special);
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}
.appointment-info {
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.appointment-item input {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border: none;
}
.appointment-item input:hover{
  background-color:#EBEBEB;
}
.appointment-item input:focus{
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
}
.appointment-item input:active {
  background-color: var(--basic-extra-light);
}
  /* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 35px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}
.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-contacts a{
  margin: 0;
  width: 250px;
  color: var(--basic-black);
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-social {
  text-align: center;
  width: 150px;
  justify-self: center;

}

.footer-social ul {
  list-style: none;
}

  /* Social button */

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover{
  background-color: #669EC0;
}
.social-button:focus {
  background-color: #5496BD;
}

.footer-copyright{
  margin: 0;
  justify-self: end;
  font-size: 14px;
  line-height: 26px;
}
  /* Catalog */
table{
  border-collapse: collapse;
  border: 2px solid var(--basic-white);
}
.evaluation {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}
.hotel{
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotel a{
  list-style: none;
  text-decoration: none;
}
.show {
  border: 2px solid var(--basic-white);
  text-transform: uppercase;
  color: var(--basic-white);
}
.show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.more {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  border: none;
}
.more:hover {
  background-color:#669EC0;
}
.more:focus {
  background-color:#5496BD;
}
.booking {
  color: var(--basic-white);
  background-color: var(--special);
  text-transform: uppercase;
  border: none;
}
.booking:hover {
  background-color:#604E43;
}
.booking:focus {
  background-color:#503E33;
}
.rating {
  background-color: var(--basic-extra-light);
  color: #666666;
}
.sorting {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}
.sorting-list{
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}
.sorting-price {
  color: var(--basic-blue);
}
.sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
}
 /* Grid catalog */
.page-catalog {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}
h1 {
  display: none;
}
.wrapper-check {
  grid-column: 1 / -1;
  margin-bottom: 30px;
}
.wrapper-sorting {
  margin-bottom: 35px;
}
